body {
	background: #aaa;
	width: 1317px;
	padding: 20px;
    margin: 0px auto;
}

h1 {
	text-align: center;
	font-family: 'Patua One';
	padding: 5px;
	color: #333;
	font-size: 26px;
}

a {
	text-decoration: none;
}

nav li {
	list-style: none;
	float: left;
	padding: 10px;
	font-family: Roboto;
	font-size: 14px;
}

nav li a {
	color: #333;
}

nav li a:hover {
	color: brown;
}

.selected {
	color: brown;
}

header img {
	padding-right: 10px;
}

#heading {
	text-align: center;
	font-family: 'Roboto';
	padding: 5px;
	background: #e1e1e1;
	border-radius: 3px;
	color: brown;
	font-size: 14px;
}

#menu {
	list-style: none;
	padding-bottom: 35px;
}

#user {
	list-style: none;
	float: right;
	padding-right: 15px;
	font-family: Roboto;
  font-weight: bold;
	font-size: 14px;
}

#user li a {
	color: #333;
}

#user li a:hover {
	color: brown;
}

#main_content img {
}

/*CSS Slider Code*/
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/*html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }*/

.slides {
    padding: 0;
    width: 1317px;
    height: 250px;
    display: block;
    /*margin: 0 auto;*/
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    /*top: 0;*/
    opacity: 0;
    width: 1317px;
    height: 250px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #333;
    font-size: 100pt;
    text-align: center;
    line-height: 180px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
/*CSS Slider Code Ends*/

/*Contact CSS*/
#contact-text {
    padding: 8px;
}

#contact-text p {
    text-align: justify;
    line-height: 1.9em;
    font-family: Roboto;
    font-size: 0.85em;
}

#contact_type {
    width: 100%;
    padding: 20px;
    margin: 0px auto;
    font-family: Montserrat;
    color: #666;
    font-size: 1em;
}

#contact_type #type1 {
    float: left;
    padding-left: 130px;
}

#contact_type #type2 {
    float: left;
    padding-left: 130px;
}

#contact_type #type3 {
    float: left;
    padding-left: 130px;
}

#contact-form {
    width: 100%;
    padding: 15px;
    margin: 0px auto;
}

#contact-form input[type="text"] {
    width: 400px;
    padding: 5px;
    height: 30px;
    /*margin: 1px solid #000;*/
}

#contact-form input[type="textarea"] {
    width: 400px;
    padding: 5px;
    height: 100px;
    /*margin: 1px solid #000;*/
}


/**/
textarea,
input {
  font: normal 15px/18px "proxima-nova", Helvetica, Arial, sans-serif;
  padding: 0 10px 0 10px;
  border: 1px solid #ada59b;
  /*width: 100%;*/
  background-color: #e1e1e1;
  color: #726658;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  
 #contact-form select,
 #contact-form textarea,
 #contact-form input {
    font: normal 15px/18px "proxima-nova", Helvetica, Arial, sans-serif;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ada59b;
    /*width: 100%;*/
    color: #726658;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
  border-radius: 4px; }

textarea:focus,
select:focus,
input:focus {
  outline-width: 0;
  border-color: #34704b; }

.button,
button {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

#signbutton button {
  padding: 5px;
  border-radius: 3px;
  background: #34704b;
  font-family: 'Montserrat';
  box-shadow: 3px 2px 2px #333;
  cursor: pointer;
}
/*select {
  border-color: #ccc;
  width: 100%;
  padding: 10px 30px 10px 10px;
  -webkit-appearance: button;
  -webkit-padding-end: 30px;
  -webkit-padding-start: 10px;
  -webkit-user-select: none;
  background: white url(../img/select_arrows.png) 97% 8px no-repeat; }*/


#msg-title {
    float: left;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    font-family: 'Patua One';
    font-size: 16px;
    padding: 10px;
    color: brown;
    clear: both;
}
/*Contact Form CSS Ends*/

#auction_content {
	padding-top: 20px;
	width: 1317px;
	height: 350px;
}

#auction_content table th{
	table-layout: fixed;
	padding: 10px;
	color: #000;
	font-size: 24px;
	font-family: Patua One;
}

#auction_content table #tab_tab td{
	table-layout: fixed;
	padding: 10px;
	color: #000;
	font-size: 14px;
	font-family: Patua One;
	background: #888;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #333;
}

#auction_content table #tab td{
	padding: 10px;
	font-family: Roboto;
	line-height: 22px;
	font-weight: 300;
	font-style: normal;
	color: #545454;
	font-size: 14px;
	/*border-bottom: 1px dotted #c8c8c8;*/
}

#signbutton, #signbutton p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  line-height: 24px;
}

footer {
  font-family: 'Roboto', sans-serif;
  top: 100px;
}