.text_input {
	/*float: right;*/
	border-radius: 4px;
	width: 300px;
	padding: 5px;
}

#button {
	/*float: right;*/
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background: #346;
	color: #000;
	padding: 5px 8px 5px;
	border-radius: 5px;
	box-shadow: 50px;
}

h3 {
	/*float: right;*/
	text-align: center;
	padding-left: 20%;
	color: #000;
	font-family: arial, geneva, sans-serif;
	font-size: 24px;
}

label {
	/*float: right;*/
	color: #000;
	font-family: arial;
	font-weight: bold;
}