* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}


body {
	/*background: #ccc;	*/
	background: url(../img/bg.jpg);
}

h1 {
	color: #b3242a;
	font-size: 27px;
	font-family: verdana, Geneva, sans-serif;
	margin-left: 20px;
}

h2 {
	color: #333;
	margin-left: 20px;
	padding: 0px 5px;
	font-size: 15px;
	font-family: arial;
}

h3 {
	color: #B55433;
	font-size: 22px;
	padding: 10px 10px;
	font-family: verdana, Geneva, sans-serif;
	margin-left: 20px;
}

/*#page_header {
	height: 50px;
	background: #cccccc;
	border-bottom: 1px solid #666666;
}

#page_body {
	margin: 15px 30px 15px;
}

#page_bottom {
	margin-top: 15px;
	margin-bottom: 0px;
	background: #000;
}*/

#left_side {
	float: left;
	width: 180px;
	margin-left: 15px;
	margin-right: 15px;
}

#main_wrapper {
	width: 950px;
	margin: 30px auto 30px;
	background-color: transparent;
	/*background: #ccc;*/
	/*background: url(../img/bg.jpg);*/
}

#main_header {
	width: 910px;
	padding: 20px;
}

#main_menu {
	width: 960px;
	height: 50px;
	padding-left: 20px;
	margin-left: -15px;
	border-radius: 5px;
	background: #000;
	box-shadow: 0px 5px 15px #080808;
}

#page {
	float: left;
	color: #ccc;
	padding: 13px 20px 13px;
	font-family: verdana;
	font-size: 17px;
}

#page:hover {
	color: #b3242a;
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
}

#down_menu {
	width: 980px;
	height: 15px;
	margin-left: -15px;
	background: url(img/b.jpg);
}

#main_content {
	float: left;
	width: 700px;
	padding: 15px;
}

#main_aside {
	float: left;
	width: 200px;
	margin-left: 20px;
}

#main_footer {
	color: #000;
	width: 1000px;
	margin: 15px auto;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
}

/*.page_title {
	padding-bottom: 10px;
	float: left;
	width: 180px;
	margin-left: 15px;
	margin-right: 15px;	
}*/