/* Main CSS File */

img:hover {
  -webkit-filter: grayscale(50%);
}

*{
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

nav a div:active {
	color: #b3242a;
}

h1 {
	color: #b3242a;
	font-size: 27px;
	font-family: sans-serif;
	margin-left: 20px;
}

h2 {
	color: #e1e1e1;
	margin-left: 20px;
	padding: 0px 5px;
	font-size: 15px;
	font-weight: lighter;
	font-family: sans-serif;
}

h3 {
	color: #b3242a;
	font-size: 20px;
	padding: 10px 10px;
	font-family: sans-serif;
	margin-left: 20px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

body {
	/*whole background color*/
	background: #ccc;
}

#main_wrapper {
	width: 1000px;
	height: 700px;
	margin: 10px auto 10px;
	/*heading background color*/
	background: url(../img/bg1.jpg);
	/*border-radius: 10px;*/
	/*-moz-border-radius: 8px;*/
	/*-webkit-border-radius: 8px;*/
}

#main_header {
	width: 970px;
	padding: 15px;
	height: 120px;
}

#main_menu {
	width: 1000px;
	height: 50px;
	/*menu background color*/
	background: #000;
	margin-bottom: 15px;
	box-shadow: 0px 5px 15px #080808;
}

#page {
	float: left;
	color: #ccc;
	padding: 13px 20px 13px;
	font-family: sans-serif;
	font-size: 15px;
}

#page:hover {
	color: #b3242a;
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
}

#content_wrapper {
	width: 1000px;
}

#para_wrapper {
	padding-left: 48px;
	width: 900px;
	text-align: justify;
	font-family: sans-serif;
	color: #ccc;
	font-size: 15px;
	border-spacing: 3px;
	/*word-spacing: 3px;*/
	line-height: 23px;
}

#left_side {
	padding-top: 20px;
	float: left;
	width: 180px;
	margin-left: 15px;
	margin-right: 15px;
}

#main_content{
	padding-top: 15px;
	float: left;
	width: 580px;
}



#right_side {
	float: left;
	width: 180px;
	margin-left: 15px;
	margin-right: 15px;
}

#main_footer {
	color: #000;
	width: 1000px;
	margin: 15px auto;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
}

#booking_wrap {
	width: 180px;
	margin-top: 5px;
}

#selected_tickets {
	width: 160px;
	padding: 5px;
	text-align: center;
	font-family: arial;
	/*color: #000;*/
	background: #000;
	border-radius: 4px;
}

#selected_tickets a {
	color: #f9f17e;
	/*text-transform: uppercase;*/
}

#selected_tickets:hover {
	text-decoration: underline;
	color: #b3242a;
}

#main_content button:hover {
	zoom:1.2;
}

#button {
	/*float: right;*/
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background: #346;
	color: #000;
	padding: 5px 8px 5px;
	border-radius: 5px;
	box-shadow: 50px;
}